/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Estilo para el encabezado */
header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Estilos para conceptos */
.concepto {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

h2 {
    color: #333;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

p {
    margin-bottom: 15px;
    line-height: 1.5;
}

/* Enlaces */
a {
    color: #0078d4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para listas */
ul, ol {
    margin: 0;
    padding-left: 20px;
}

/* Estilos para imágenes */
.image-container {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

/* Estilos para títulos y subtítulos */
h1, h2 {
    color: #333;
}

/* Resto de estilos... */
.video-container {
    position: relative;
    padding-bottom: 115%;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
    border: none;
    margin-bottom: 0px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    main {
        padding: 10px;
    }

    h1, h2 {
        font-size: 24px;
    }

    img {
        margin: 10px 0;
    }

    .video-container iframe {
        width: 100%;
        height: 100%;
    }
}
