/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: rgb(0, 191, 255);
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Estilos para pasos */
.step {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

h2 {
    color: #333;
}

p {
    margin-bottom: 15px;
    line-height: 1.5;
}

/* Resto de estilos... */
