/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  /* Estilo para el encabezado */
  header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  /* Estilo para los títulos */
  h1, h2, h3 {
    color: #333;
  }
  
  /* Estilo para las secciones de contenido */
  section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para las imágenes */
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  /* Estilo para las listas */
  ul, ol {
    margin-left: 20px;
  }
  
  /* Estilo para los enlaces */
  a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #2980b9;
  }
  
  /* Estilo para el pie de página */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  /* Estilo para las citas */
  blockquote {
    background-color: #f9f9f9;
    border-left: 4px solid #3498db;
    padding: 10px;
    margin: 10px 0;
  }
  
  /* Estilo para los elementos de lista en las citas */
  blockquote ul, blockquote ol {
    margin-left: 20px;
  }
  
  /* Estilo para los botones (pueden usarse para actividades interactivas) */
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #2980b9;
  }
  
  /* Estilo para las secciones de conceptos */
  #que-es-un-problema, #que-es-un-algoritmo, #propiedades-de-los-algoritmos, #prueba-de-escritorio, #que-es-programar {
    margin-bottom: 40px;
  }
  
  /* Estilo para hacer la página responsive */
  @media (max-width: 768px) {
    /* Cambios de estilo para pantallas pequeñas (tablets y móviles) */
    section {
      margin: 10px;
      padding: 10px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    /* Agrega más estilos específicos para pantallas pequeñas si es necesario */
  }
  